@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
    font-family: 'Modern';
    src: url('../fonts/Modern.otf') format('opentype');
}

@font-face {
    font-family: 'Modern-Bold';
    src: url('../fonts/Modern-Bold.otf') format('opentype');
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background: #d3dce0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.header {
    width: 230px;
    height: 60px;
    background-color: #d3dce0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-230px);
    transition: transform 230ms ease-in-out;
}

#side-bar-menu, .sidebar-icon-toggle, .main {
    position: relative;
    z-index: 2;
}

#side-bar-menu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 230px;
    margin-top: 60px;
    transform: translateX(-230px);
    transition: transform 230ms ease-in-out;
    background: linear-gradient(180deg, #d3dce0 0%, #4b899f 100%);
}

.side-bar-menu-inner{
    margin:0;
    padding:0;
}

.side-bar-menu-inner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.side-bar-menu-inner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked ~ .header {
    transform: translateX(0);
}

input[type="checkbox"]:checked ~ #side-bar-menu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebar-icon-toggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    margin-left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    box-shadow: 5px 0 10px #1e526578;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    box-shadow: 5px 0 10px #1e526578;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    box-shadow: 5px 0 10px #1e526578;
}

input[type=checkbox]:checked ~ .sidebar-icon-toggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebar-icon-toggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebar-icon-toggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.tab {
    font-family: 'Segoe UI', sans-serif;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #aaa;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.tab:hover,
.tab.active {
    color: #1d5062;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.title h1 {
    font-family: 'Modern-Bold';
    font-size: 35px;
    letter-spacing: 5px;
    margin: 10px 0;
    text-transform: uppercase;
    color: #064358; 
}

.title h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #135f78; 
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding-bottom: 60px;
}

.glass-btn {
    width: 100px;
    height: 100px;
    background-color: #e6f1f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.glass-btn:hover {
    background-color: #ecf9ff;
    transform: translateY(-5px);
}

.glass-btn img {
    width: 100%;
    height: auto;
}

/* Blue button (Facebook) */
.blue-btn {
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
}

.blue-btn:hover {
box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
}

/* Red button (LinkedIn) */
.light-blue-btn {
    box-shadow: 0px 20px 20px -17px rgba(40, 103, 178, 0.5);
}

.light-blue-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(40, 103, 178, 0.65);
}

/* Amber button (Instagram) */
.pink-btn {
    box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
}

.pink-btn:hover {
    box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
}

.card {
    width: 400px;
    height: 280px;
    background: radial-gradient(circle, #26749199 0%, #00000000 100%);
    border-radius: 15px;
    box-shadow: 0 10px 25px #072d494d;
    overflow: hidden;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    padding-bottom: 30px;
}

.card-content {
    padding-top: 30px;
    padding-left: 40px;
    text-align: center;
}

.card-content p {
    font-family: 'Segoe UI';
    color: #4f6a76;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 16px;
    text-align: left;
    margin: 0.5rem 0;
}

.card-content span {
    font-family: 'Modern-Bold';
    font-weight: 1000;
    font-size: 22px;
    color: #1d3f4d;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .block {
        padding: 40px 15px;
    }

    html, body {
        overflow-x: auto;
    }
}


@media (max-width: 768px) {
    .main-content {
        width: 90%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #bcd0d8;
    border-radius: 5px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #abc7d2;
    border: none;
}

::-webkit-scrollbar-track {
    background-color: #d3dce0;
}